.cw-table-wrapper {
    @apply rounded-2xl border shadow-xl;
    tr {
      @apply border-0;
    }
}

.cw-table-wrapper [role=navigation],
.cw-style {
  li a {
    @apply border border-slate-600 rounded-sm w-7 h-7 text-[10px];
  }

  li a.page-prev, li a.page-next {
    @apply w-auto;
  }

  li a.active {
    @apply bg-cw-green opacity-100 text-white border-0;
  }
}