@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 24px;
}

.home-activity-bar::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid black;
  width: 85%;
  right: 0;
}