@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .element-viewer {
        @apply border border-red-500;
    }

    .header {
        @apply flex flex-row px-4 items-center h-[60px] border-b border-[#ECECEC];
    }

    .notif-icon-wrapper {
        @apply relative;
    }

    .notif-icon {
        @apply w-[16px] h-[20px];
    }

    .profile-wrapper {
        @apply flex flex-row;
    }

    .arrow-down-wrapper {
        @apply px-[10px] py-[12px];
    }

    .badge-component {
        @apply absolute left-2 bottom-3 bg-red-500 w-[14px] h-[14px] rounded-full text-[10px] text-white flex justify-center items-center;
    }
}

:root {
    --radius: 16px;
}


.home-activity-bar::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #797979;
    width: 85%;
    right: 0;
}

body {
    font-family: Inter, serif;
}

.rdp-vhidden {
  @apply hidden;
}